.district-info__img img {
    width: 400px;
    float: left;
    margin: 0 2em 2em 0;
}

.district-info {
    display: none;
}

.district-info__content h2 {
    font: bold 24px / 26px Georgia, "Times New Roman", Times, serif;
    margin: 15px 0 10px 0;
}

.district-info__content p,
.district-info__story {
    font: normal 16px / 22px Arial, Helvetica, sans-serif;
    margin: 0 0 1em 0
}

.district-info__story {
    display: block;
    margin: 1em 0;
}

.district-info__story .author {
    display: block;
    padding: .5em 0 1em;
    border-bottom: 1px dashed #000000;
    margin: 0 0 .5em;
}

.district-info__story .story {
    font-style: italic;
}

